
.header{
margin-bottom: 80px;
}


.column-a {
    display: inline-block;
}
.column-a {
    display: flex;
}
img {
    margin-left: 30px;
}


.column-b {
    display: inline-block;
}
.column-b {
    display: flex;
}


.column-c {
    display: inline-block;
}
.column-c {
    display: flex;
}




/* #list img {
    margin-left: 20px;
  }


#list2{
    display: flex;
}

#list2 img {
    margin-left: 20px;
  } */
