
.header{
margin-bottom: 80px;
}


.list {
    display: inline-block;
}
.list {
    display: flex;
}
img {
    margin-left: 30px;
}





/* #list img {
    margin-left: 20px;
  }


#list2{
    display: flex;
}

#list2 img {
    margin-left: 20px;
  } */
